__pycache__/
config_files/*.*
working_archive/
data/maskData/interimMask/*
data/maskData/finalMask/*
data/USCB_Data/
data/tmp/
config.py
ToDo.txt
Highwall_Detection/code/temps/*
Highwall_Detection/code/outputs/*
.DS_Store
Highwall_Detection/.DS_Store
Highwall_Detection/code/.DS_Store